{% extends 'base/base.html' %}

{% block content %}


<div id="login_form" class="px-2">
  <div class="container-fluid my-5">
    <div class="row justify-content-center mb-4">
      <div class="d-flex flex-column">
        <h2 class="text-uppercase text-center">cambiar <br> contraseña</h2>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="alert alert-success mt-5 col-8" role="alert">
        <strong>¡Muy bien!</strong> En su correo electrónico recibira las instrucciones para cambiar su contraseña.
      </div>
    </div>
  </div>
</div>
{% endblock %}