{% extends 'base/base.html' %}
{% block content %}
<h2 class="text-center">Cambiar Contraseña</h2>
<div class="row justify-content-md-center text-center">
<div class="col-md-8 alert alert-success" role="alert">
  <strong>Muy bien!</strong> <a href="{% url 'login:inicioSesion' %}"> Ha cambiado su contraseña, ya puede ingresar al <strong>SISTEMA DE IDENTIFICACIÓN Y CARACTERIZACIÓN DE OFERTA Y DEMANDA ESTADÍSTICA DEL SEN</strong>. </a>
</div>
</div>
<br><a class="btn btn-secondary mx-auto d-block col-2" role="buttom" href="{%url 'login:inicioSesion' %}">Iniciar sesión</a>
{% endblock %}