{% load static %}
{% block content %}



RESTABLECER SU CONTRASEÑA

{{ user.get_username }} ha solicitado restablecer su contraseña para el SISTEMA DE IDENTIFICACIÓN Y CARACTERIZACIÓN DE OFERTA Y DEMANDA ESTADÍSTICA DEL SEN.

Para continuar , haga clic en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

El vínculo anterior se expirará en unos días.

Si no ha solicitado cambiar la contraseña, ignore este mensaje y no se realizará ningún cambio.


{% endblock %}