{% extends 'base/base.html' %}

{% block content %}

{% csrf_token %}

{% if validlink %}
<div id="login_form" class="px-2">
	<div class="container-fluid my-5">
		<div class="row justify-content-center mb-4">
			<div class="d-flex flex-column">
				<h2 class="text-uppercase text-center">crear<br>nueva contraseña</h2>
			</div>
		</div>
		<div class="row justify-content-center mb-4">
			<form method="POST">
				{% csrf_token %}

				<div class="form-group">
					<div class="input-group mb-3">
						{{ form.new_password1.errors }}
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="material-icons white">
									lock
								</i>
							</span>
						</div>
						{{ form.new_password1 }}
					</div>
				</div>
				<div class="form-group">
					<div class="input-group mb-3">
						{{ form.new_password2.errors }}
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="material-icons white">
									lock
								</i>
							</span>
						</div>
						{{ form.new_password2 }}
					</div>
				</div>		

				<div class="form-group">
					<input class="btn btn_primary btn-block text-uppercase hvr-shrink mt-4" type="submit"
						value="Cambiar Contraseña" />
				</div>
			</form>
		</div>
	</div>
</div>
{% else %}
<div class="row justify-content-md-center">
	<div class="col-md-8 alert alert-warning" role="alert">
		<strong>Enlace inválido:</strong> Este enlace ya ha sido utilizado
	</div>
</div>

{% endif %}

{% endblock %}