@import '../resources/setting';
@import '../resources/responsive';


#moduleComments,
#moduleNovedad,
#moduleCriticas,
#moduleEvaluacion,
#moduleFortalecimiento {

    .mi-green {
        color: $kuler_sistemaInventario-1-hex;
    }

    .wrapComments {
        height: 40vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .border {
        border: 1px solid $Kuler-GrayScale-4-hex !important;
    }

    .input-group-text {
        background-color: $Kuler-GrayScale-4-hex !important;
        border: 1px solid $Kuler-GrayScale-4-hex !important;
        color: $kuler-black;
    }
    .bkgInputQuestion1{
        background-color: $Kuler-GrayScale-4-hex !important;
        p{
            color: $kuler-black !important;
        }
    }

}