{% extends "base/base2.html" %}
{% load static %}
{% block content %}

<!-- librerias para paginación de tablas -->
<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'libraries/dataTables/css/dataTables.bootstrap4.min.css' %}">
<!-- end -->

<div id="loader"></div>

<div id="container">

<div id="allEntities" class="container-fluid">
    <h2 class="text-center text-uppercase mb-5">Directorio de entidades consumidores de información</h2>
     <p class="text-center">Este directorio está compuesto por <b>{{ total_consInfo }}</b> entidades colombianas de 
        carácter público, privado y mixto, que realizan solicitudes de demandas de información. </p>
</div>

<div class="py-3">
    <p class="text-center">
        Si desea buscar una entidad específica, seleccione ‘buscar’.
    </p>
</div>


{%  if user.is_authenticated and user.profile.role.id == 1 or user.profile.role.id == 4 or user.profile.role.id == 5  %}


{% if consoInfo %}

<div id="tableAll">
    <table class="table table-borderless table-hover table-sm" id="entCon_table">
        <thead class="kulerTableHead">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Página Web</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            {% for consumidor in consoInfo %}
                
            <tr>
                <td><span class="textContentTable">{{ consumidor.nombre_ec  }}</span></td>
                
                {% if consumidor.pagina_web_ec == None %}
                    <td><span class="textContentTable"><a href="" target="_blank"> </a></span></td>
                {% else %}
                    <td><span class="textContentTable"><a href="{{ consumidor.pagina_web_ec  }}"
                        target="_blank">{{ consumidor.pagina_web_ec }}</a></span></td>
                    
                {% endif %}
               
                {% if consumidor.telefono_ec == None %}
                    <td><span class="textContentTable"></span></td>
                {%else %}
                    <td><span class="textContentTable">{{ consumidor.telefono_ec }}</span></td>
                {% endif %}

    
                <td class="d-flex flex-row">
                    <a href="{% url 'demandas:editar_consumidor' consumidor.pk %}" data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="material-icons miKuller hvr-shrink">unarchive</i>
                    </a>
                </td>

            </tr>
            
            {% endfor %}
        </tbody>
    </table>

</div>



{% else %}
<div class="container">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="alert alert-info" role=" alert">
            <h2 class="text-center text-uppercase">Atención</h2>
            <h4 class="pt-3"> No hay entidades consumidoras de información disponibles en este momento</h4>
        </div>
    </div>
</div>
{% endif %}


{% else %}
<div class="container">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="alert alert-warning" role="alert">
            <h2 class="text-center text-uppercase">Atención</h2>
            <h4 class="pt-3">El rol {{ user.profile.role.name }} no tiene permisos para realizar esta acción</h4>
            <a class="alert-link" href="{% url 'login:loggedin' %}">
                <p class="text-center mt-3">Por favor regrese a una vista valida</p>
            </a>
        </div>
    </div>
</div>
{% endif %}

</div>

<!-- js -->
<script type="text/javascript" charset="utf8" src="{% static 'libraries/dataTables/js/jquery.dataTables.min.js' %}">
</script>
<script type="text/javascript" charset="utf8" src="{% static 'libraries/dataTables/js/dataTables.bootstrap4.min.js' %}">
</script>

<!-- Script by tables -->
<script>
    $(document).ready(function () {
        $('#entCon_table').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entidades",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entidades",
                "infoFiltered": "(Filtrado de _MAX_ total Entidades)",
                "infoPostFix": "",
                "thousands": ",",

                "lengthMenu": "Mostrar _MENU_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<button id='btn-Big' class='btn btn_primarySearch btn-small' onclick='searchClose()'><div class='d-flex flex-row justify-content-center'><i class = 'material-icons mt-1 pr-2' > search </i> Buscar </div></button>",
                "searchPlaceholder": "Buscar entidad",
                "zeroRecords": "Sin resultados encontrados",

                "paginate": {
                    "first": " Inicio ",
                    "last": " Fin ",
                    "next": " >> ",
                    "previous": " << "
                },
            },
            "pagingType": "full_numbers",
            "iDisplayLength": 10,
            "lengthMenu": [
                [10, 20, 30, 40, 50, -1],
                [10, 20, 30, 40, 50, "Todos"]
            ],

            //pagination center
            "sDom": '<"d-flex flex-row align-items-center justify-content-between view-filter"<"btn-group"<"#btnAdd.mx-1"><"#btnPublish.mx-1"><"#btnDisable.mx-1">><l><"buscador-small"><"buscador-big"f>>t<"d-flex flex-row align-items-center justify-content-between view-pagination"<"#btnReport"><i><p>>',

            "ordering": false
        });

        //search code
        $('.buscador-small').append(
            '<button id="btn-Small" class="btn btn_primary btn-small hvr-shrink" onclick="searchOpen()"><div class=" d-flex flex-row justify-content-center"><i class = "material-icons mt-1 pr-2" > search </i> Buscar </div></button> '
        )
        $('.buscador-big').hide()
        //end search code



        var roleFuente = "3";
        var roleInvitado = "2";
        var authenticated = "{{user.is_authenticated}}"
        var role = "{{user.profile.role.id}}"
        var entidad = "{{user.profile.entidad.pk}}"
        console.log("entidad", entidad, "role", typeof (role), "roleFuente", typeof (roleFuente))

        if (authenticated === 'False' || roleInvitado === role) {
            $('#btnAdd').append(button);
            $('#btnAdd').addClass("d-none");
        }

        if (roleFuente === role) {
            var button =
                '<a id="btnCreateEntities" class="btn btn_primary hvr-shrink btn-sm"><div class="d-flex align-items-center hvr-shrink"><i class="material-icons">unarchive</i> <span class="ml-2">Editar entidad</span></div></a>';
            $('#btnAdd').append(button);
            $('#btnAdd').addClass("d-none");

        } else {
            var button =
                '<a id="btnCreateEntities" class="btn btn_primary hvr-shrink btn-sm"><div class="d-flex align-items-center hvr-shrink"><i class="material-icons">create</i> <span class="ml-2">Crear entidad consumidora</span></div></a>';
            $('#btnAdd').append(button);
            $('#btnAdd').click(function () {
                $("#btnCreateEntities").attr("href", "{% url 'demandas:crear_consumidorinf'  %}");
            })
        }

        var btnReport =
            '<a id="btnReportEntities" class="btn btn_primary hvr-shrink btn-sm"><div class="d-flex align-items-center hvr-shrink"><i class="material-icons">cloud_download</i> <span class="ml-2">Descargue el inventario</span></div></a>';
        $('#btnReport').append(btnReport);
        $('#btnReport').click(function () {
            $("#btnReportEntities").attr("href",
                "{% url 'demandas:reporte_consumidoras' %}");
        })

    });



    function openModal(url) {
        $('#popupEntities').load(url, function () {
            $(this).modal('show');
        });
        return false;
    }

    function closeModal() {
        $('#popupEntities').modal('hide');
        return false;
    }

    function preloader(){
        document.getElementById("loader").style.display = "none";
        document.getElementById("container").style.display = "block";
    }//preloader
    window.onload = preloader;

</script>

{% endblock content %}